<html>

	<head> 
		<link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootswatch/3.1.1/united/bootstrap.min.css'>
		<link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'> 
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'> 
		<script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
		<script type='text/javascript' src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>

	</head>

	<body> 
		<canvas id="myChart" width="400" height="400"></canvas>

		<script src="http://d8d65e20.ngrok.io/scripts/jsx/Chart.Core.js"></script>
		<script src="http://d8d65e20.ngrok.io/scripts/jsx/Chart.Scatter.js"></script>
		


	</body>
</html>